{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="header__container">
            <div class="header__logo">
                <h1>GP S.A</h1>
                    <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAUxJREFUSEvd1L8vXlEcx/HXIywYSiRMTYwmS034C4SlITqwtGEyNGLAzCYSW5PaDIKJ/0BiadKlQ5MuZkQEsYiBe+Q+ckPvc8994knEGb/n+/28v7/OqWjwqTRY3/sC3L9iu37jU9DLtug1AWfofg6oFrCCJWziW8mqFrGKLUzlAXpxjBt04q4E5BDD+ILtPECw/8IAJrAbCWjFNZrQgatagLkk+w0cYCwS8Bl7OMJQNSbvHXzAeerUhcsIyE98TVq6nM7hMaTWQ9vHaIRw1iVsYl8yg39FFYT7ceyUAJym2Yftezq1KmjBBdrRjz8lYFGA4PQDM2kl07gtCyn67D4mq/oXbZHCL/SKAEF3BAsYRHMBqC5AZPL/d4upIER+xzzWsJ6RyrNHD7nqeJL+jmEVezKAPHtpQNimyfQDm80A8uylAXXPIXYGbxfwAHIkMhmciIgXAAAAAElFTkSuQmCC" />
                </div>
            </div>
            
        </div>
    </header>
    </div>

    <h1 class="titulo__principal">Gestión de Productos S.A</h1>
    </div>
    <p class="eslogan">Te ayudamos a gestionar tus productos facilmente!</p>
    <div class="botones">
        <button id="registrarProductos" onclick="window.location.href='{% url 'registrar_producto' %}'">Registrar producto</button>

        <button id="consultarProductos" onclick="window.location.href='{% url 'consultar_productos' %}'">Consultar productos registrados</button>
    </div>
    <div class="background__main">
        <img  src="../static/img/fondo_productos.jpg">
    </div>
</body>

</html>