* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #D4E09B;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario__registro {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; 
    text-align: center;
}

form label {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-weight: 600;
}

form input[type="text"],
form input[type="date"],
form input[type="submit"] {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

form button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

form button:hover {
    background-color: #218838;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

h1 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center; 
}