* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #D4E09B;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F4D2;
    padding: 0.8rem;
}

.header__logo {
    display: flex;
    align-items: center;

    h1 {
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: #000000;
        cursor: pointer;
    }
}

.header__items {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo__principal  {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300 !important;
    font-style: normal;
    color: #000000;
}

.eslogan{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #000000;
}



button {
    width: 9em;
    height: 3em;
    margin: 30px;
    display: grid;
    padding: 4px;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #000000;
}
   
button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}
   
button:hover::before {
    width: 9em;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
}


.background__main {
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background__main img {
    width: 50%;
}

.logout-container {
    display: flex;
    justify-content: flex-end; 
    padding: 10px; /* Añade espacio alrededor del botón */
}

.logout-container button {
    font-size: 14px; 
    padding: 8px 16px; 
}

.user-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15vh; /* Altura completa de la ventana */
    text-align: center;
    background-color: #F6F4D2; /* Fondo blanco semitransparente */
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #000000;
}

.user-info-container h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.user-info-container p {
    font-size: 18px;
    margin: 5px 0;
}

.user-info-container strong {
    font-weight: bold; }

.alert-container ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
    
.alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}